.container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000;
    border-radius: 7px;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;

    .image {
      width: 100%;
      height: 720px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      &.new-image {
        position: absolute;
      }
    }
  }
}
