.vertical-collapse {
  user-select: none;
}

.header-container {
  cursor: pointer;
  border: 0px solid #222;
  border-bottom-width: 1px;
  padding: 15px 20px;
  &:hover {
    background-color: #212121;
  }
}

.header {
  display: flex;
  line-height: 1.2;
  color: #ffffff;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.counts {
  display: flex;
  flex-direction: column;
  font-weight: 700;

  .failed {
    color: rgb(203, 16, 60);
  }
}
