.drawer-container {
  width: 100%;
  height: 100vh;
  font-size: 12px;
  color: rgb(255, 255, 255);
  background-color: rgb(18, 18, 18);
}

.collapse-container {
  width: 100%;
  .collapse-name {
    padding-top: 28px;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 25px;
    color: #c9c9c9;
  }
}

.snapshot-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 94%;
  margin-left: 10px;
  gap: 2px;

  &:hover {
    cursor: pointer;
    background-color: #212121;
  }
}

.active-snapshot-container {
  width: 100%;
  max-width: 94%;
  margin-left: 10px;
  border-style: solid;
  background-color: rgb(51, 121, 250);
}

.image {
  border-radius: 15px;
}

.line-break {
  width: 100%;
  border: 1px solid #222;
  margin-top: 30px;
}
