.container {
  gap: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid #212121;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;

  &:first-child {
    border-radius: 10px;
  }

  &:hover {
    background-color: #212121;
  }

  &.active {
    background-color: rgb(61, 121, 250);

    .image-container {
      background-color: #ffffff33;
    }
  }

  &.active-fail {
    background-color: rgb(203, 16, 60);

    .image-container {
      background-color: #ffffff33 !important;
    }

    .information-container {
      .image-percent-text {
        color: #fff !important;
      }
    }

    &:hover {
      background-color: rgb(203, 16, 60);
    }
  }

  &.fail {
    .image-container {
      border: solid 3px rgb(203, 16, 60);
      background-color: rgba(203, 16, 60, 0.06);
    }
    .information-container {
      .image-percent-text {
        color: rgb(203, 16, 60);
      }
    }
  }

  .image-container {
    width: 90px;
    height: 69px;
    position: relative;
    border-radius: 7px;
    background-color: #292929;
    margin: 6px;

    .image {
      width: 100%;
      max-width: 64px;
      height: 100%;
      max-height: 60px;
      position: absolute;
      top: 7%;
      left: 15%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .information-container {
    gap: 5px;
    width: 100%;
    flex: 1 0 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .image-name-text {
      white-space: pre;
      color: #ffffff;
      line-height: 1.2;
      font-size: 12px;
      position: relative;
    }

    .image-percent-text {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3px;
      color: rgb(16, 203, 91);
      font-size: 12px;
      font-weight: 500;
    }
  }
}
